<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BBJ | Menu</title>

<!-- 引入全局css样式 -->
<script th:src="@{/resources/base/css-import.js}"
	src="../../../../resources/base/css-import.js"></script>

</head>
<body>
	<div class="wrapper">
		<div th:replace="~{base/header :: header}"></div>
		<div th:replace="~{base/menu :: menu}"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Page Header111
					<!-- <small>Optional description</small> -->
				</h1>
				<ol class="breadcrumb" id="menu-footprint">
					<li><a href="#"><i class="fa fa-dashboard"></i> <span
							name="parent-menu">Level</span></a></li>
					<li name="li-sub-menu" style="display: none">Here</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				Your Page Content Here			
			</section>

			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="~{base/footer :: footer}"></div>

		<div th:replace="~{base/settings :: settings}"></div>

	</div>
	<!-- ./wrapper -->
</body>

<!-- 引入JavaScripts样式 -->
<script th:src="@{/resources/base/javascript-import.js}"
	src="../../../../resources/base/javascript-import.js"></script>

</html>