<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>数据字典</title>

<!-- 引入全局css样式 -->
<script src="../../../resources/base/css-import.js"></script>

</head>
<body th:class="${session.currentSkin}">
	<div class="wrapper">
		<div th:replace="~{base/header :: header}"></div>
		<div th:replace="~{base/menu :: menu}"></div>
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Page Header
					<!-- <small>Optional description</small> -->
				</h1>
				<ol class="breadcrumb" id="menu-footprint">
					<li><a href="#"><i class="fa fa-dashboard"></i> <span
							name="parent-menu">Level</span></a></li>
					<li name="li-sub-menu" style="display: none">Here</li>
				</ol>
			</section>
			<section class="content">
			    <div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">基本表格</h3>
								<button type="button" onclick="showSelectItems()"
									class="btn btn-info">查看选中</button>
								<button type="button" onclick="newData()" class="btn btn-info">新建</button>
	
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="example" class="table table-bordered table-hover">
								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.col -->
					</div>
				<!-- /.row -->
				</div>
			</section>
		</div>
		<div th:replace="~{base/footer :: footer}"></div>
		<div th:replace="~{base/settings :: settings}"></div>
	</div>
	<!-- ./wrapper -->
</body>

<div class="modal fade" id="modal-new-div" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">
					<span class="pull-left header"><i class="fa fa-inbox"></i>
						表维护</span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="nav-tabs-custom">
					<!-- Tabs within a box -->
					<ul class="nav nav-tabs pull-right ui-sortable-handle">
						<li class=""><a href="#revenue-chart" data-toggle="tab"
							aria-expanded="false">SQL 预览</a></li>
						<li class="active"><a href="#field-columns" data-toggle="tab"
							aria-expanded="true">表 新增</a></li>
					</ul>
					<div class="tab-content no-padding">
						<!-- Morris chart - Sales -->
						<div class="chart tab-pane" id="revenue-chart"
							style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
							SQL</div>
						<div class="chart tab-pane active" id="field-columns"
							style="position: relative; height: 300px;">
							<div class="form-horizontal">
								<div class="box-body">
									<div class="row form-group">
										<div class="col-sm-2 item">
											<label>ID</label>
										</div>
										<div class="col-sm-4 item">
											<input class="form-control" id="item-field-id"></input>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-sm-2 item">
											<label>表ID</label>
										</div>
										<div class="col-sm-4 item">
											<input class="form-control" id="item-field-table_id"></input>
										</div>
										<div class="col-sm-2 item">
											<label>参照值</label>
										</div>
										<div class="col-sm-4 item">
											<input class="form-control" id="item-field-reference_value"></input>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-sm-2 item">
											<label>参照名称</label>
										</div>
										<div class="col-sm-4 item">
											<input class="form-control" id="item-field-reference_name"></input>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-sm-2 item">
											<label>备注</label>
										</div>
										<div class="col-sm-10 item">
											<input class="form-control" id="item-field-reference_remark"></input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" onclick="newData()">Save</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- 引入JavaScripts样式 -->
<script th:src="@{/resources/base/javascript-import.js}"
	src="../../../../resources/base/javascript-import.js"></script>
<script th:src="@{/resources/admin/dictionary/dictionaryReference.js}"
	src="../../../resources/admin/dictionary/dictionaryReference.js"></script>

</html>